.c-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 30px;
  min-height: 80px;
  padding: 16px max(44px, calc((100vw - 1440px) / 2 + 44px));
  background: var(--red);
  font-size: 13px;
}
.c-footer p {
  margin: 0;
  font-weight: 800;
}
.c-footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 25px;
  align-items: center;
}
.c-footer__links a {
  text-underline-offset: 4px;
}
.c-footer__links a:hover {
  text-decoration-thickness: 2px;
}
